<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <h:outputStylesheet library="css" name="styles.css" />
        <title>#{msgs.login}</title>
    </h:head>

    <h:body>
        <h:form id="loginForm" >
            <h:panelGrid columns="1" styleClass="centered-panel">
                <p:panel header="#{msgs.login}" >
                    <p:messages id="messages" showDetail="false" >
                        <p:autoUpdate />
                    </p:messages>
                    <h:panelGrid columns="2">
                        <p:outputLabel for="email" value="#{msgs.email}" />
                        <p:inputText id="email" value="#{loginController.email}"
                                     required="true" label="email"/>

                        <p:outputLabel for="password" value="#{msgs.password}" />
                        <p:password id="password" value="#{loginController.password}"
                                    required="true" label="password"/>

                        <h:outputLabel value="#{msgs.loginstatus}: "/>
                        <h:outputText value="#{session.getAttribute('loggedIn')}"/>
                    </h:panelGrid>
                    <p:commandButton value="Login" action="#{loginController.login}"
                                     style="display: block;margin: 0 auto;"
                                     update="loginForm" ajax="false" />
                </p:panel>
            </h:panelGrid>
        </h:form>
    </h:body>
</html>
