<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <h:outputStylesheet library="css" name="styles.css"/>
        <title>#{msgs.signup}</title>
    </h:head>
    <h:body>
        <h:form id="signupForm" >
            <h:panelGrid columns="2" styleClass="centered-panel">
                <p:panel id="primepanel" header="#{msgs.signup}">

                    <h:panelGrid columns="3" cellpadding="1" border="0">
                        <p:outputLabel for="title" value="#{msgs.title}"/>
                        <p:inputText id="title" label="#{msgs.title}"
                                     value="#{signupController.client.title}"/>
                        <p:message for="title" style="color:red"/>

                        <p:outputLabel for="firstname" value="#{msgs.firstname}"/>
                        <p:inputText id="firstname" label="#{msgs.firstname}"
                                     value="#{signupController.client.firstName}" required="true"
                                     requiredMessage="#{msgs.required}"/>
                        <p:message for="firstname" style="color:red"/>

                        <p:outputLabel for="lastname" value="#{msgs.lastname}"/>
                        <p:inputText id="lastname" label="#{msgs.lastname}"
                                     value="#{signupController.client.lastName}"  required="true"
                                     requiredMessage="#{msgs.required}"/>
                        <p:message for="lastname" style="color:red"/>

                        <p:outputLabel for="companyname" value="#{msgs.companyname}"/>
                        <p:inputText id="companyname" label="#{msgs.companyname}"
                                     value="#{signupController.client.companyName}"/>
                        <p:message for="companyname" style="color:red"/>

                        <p:outputLabel for="address1" value="#{msgs.address1}"/>
                        <p:inputText id="address1" label="#{msgs.address1}"
                                     value="#{signupController.client.address1}" required="true"
                                     requiredMessage="#{msgs.required}"/>
                        <p:message for="address1" style="color:red"/>

                        <p:outputLabel for="address2" value="#{msgs.address2}"/>
                        <p:inputText id="address2" label="#{msgs.address2}"
                                     value="#{signupController.client.address2}"/>
                        <p:message for="address2" style="color:red"/>

                        <p:outputLabel for="city" value="#{msgs.city}"/>
                        <p:inputText id="city" label="#{msgs.city}"
                                     value="#{signupController.client.city}" required="true"
                                     requiredMessage="#{msgs.required}"/>
                        <p:message for="city" style="color:red"/>

                        <p:outputLabel for="province" value="#{msgs.province}"/>
                        <p:inputText id="province" label="#{msgs.province}"
                                     value="#{signupController.client.province}" required="true"
                                     requiredMessage="#{msgs.required}"/>
                        <p:message for="province" style="color:red"/>

                        <p:outputLabel for="country" value="#{msgs.country}"/>
                        <p:inputText id="country" label="#{msgs.country}"
                                     value="#{signupController.client.country}" required="true"
                                     requiredMessage="#{msgs.required}"/>
                        <p:message for="country" style="color:red"/>

                        <p:outputLabel for="postalcode" value="#{msgs.postalcode}"/>
                        <p:inputText id="postalcode" label="#{msgs.postalcode}"
                                     value="#{signupController.client.postalCode}" required="true"
                                     requiredMessage="#{msgs.required}"/>
                        <p:message for="postalcode" style="color:red"/>

                        <p:outputLabel for="homephone" value="#{msgs.homephone}"/>
                        <p:inputMask id="homephone" label="#{msgs.homephone}"
                                     value="#{signupController.client.homePhone}" required="true"
                                     requiredMessage="#{msgs.required}"
                                     mask="(999) 999-9999" />
                        <p:message for="homephone" style="color:red"/>

                        <p:outputLabel for="cellphone" value="#{msgs.cellphone}"/>
                        <p:inputMask id="cellphone" label="#{msgs.cellphone}"
                                     value="#{signupController.client.cellPhone}"
                                     mask="(999) 999-9999" />
                        <p:message for="cellphone" style="color:red"/>

                        <p:outputLabel for="email" value="#{msgs.email}"/>
                        <p:inputText id="email" label="#{msgs.email}"
                                     value="#{signupController.client.email}" required="true"
                                     requiredMessage="#{msgs.required}"/>
                        <p:message for="email" style="color:red"/>

                        <p:outputLabel for="password" value="#{msgs.password}"/>
                        <p:password id="password" label="#{msgs.password}"
                                    value="#{signupController.client.password}" feedback="true"
                                    required="true" maxlength="12" promptLabel="#{msgs.passwordPrompt}"
                                    weakLabel="#{msgs.weak}" goodLabel="#{msgs.good}" strongLabel="#{msgs.strong}"
                                    requiredMessage="#{msgs.required}" match="password2"/>
                        <p:message for="password" style="color:red"/>

                        <p:outputLabel for="password2" value="#{msgs.confirm}"/>
                        <p:password id="password2" label="#{msgs.confirm}"
                                    value="#{signupController.client.password}" feedback="false"
                                    required="true" maxlength="12" requiredMessage="#{msgs.required}"/>
                        <p:message for="password2" style="color:red"/>

                    </h:panelGrid>
                    <p:commandButton id="primebutton" value="#{msgs.signup}"
                                     style="display: block;margin: 0 auto;"
                                     action="#{signupController.signup()}" ajax="false" />

                </p:panel>
            </h:panelGrid>
        </h:form>
    </h:body>
</html>
